annotated-types==0.7.0
anyio==4.6.0
build==1.2.2
CacheControl==0.14.0
certifi==2024.8.30
charset-normalizer==3.3.2
cleo==2.1.0
click==8.1.7
colorama==0.4.6
crashtest==0.4.1
distlib==0.3.8
dulwich==0.21.7
fastapi==0.115.0
fastjsonschema==2.20.0
filelock==3.16.0
h11==0.14.0
httptools==0.6.1
idna==3.8
importlib_metadata==8.4.0
installer==0.7.0
jaraco.classes==3.4.0
keyring==24.3.1
more-itertools==10.5.0
msgpack==1.1.0
packaging==24.1
pexpect==4.9.0
pkginfo==1.11.1
platformdirs==4.3.2
poetry==1.8.3
poetry-core==1.9.0
poetry-plugin-export==1.8.0
ptyprocess==0.7.0
pydantic==2.9.2
pydantic_core==2.23.4
pyproject_hooks==1.1.0
python-dotenv==1.0.1
pywin32-ctypes==0.2.3
PyYAML==6.0.2
rapidfuzz==3.9.7
requests==2.32.3
requests-toolbelt==1.0.0
shellingham==1.5.4
sniffio==1.3.1
starlette==0.38.6
tomlkit==0.13.2
trove-classifiers==2024.7.2
typing_extensions==4.12.2
urllib3==2.2.2
uvicorn==0.31.0
virtualenv==20.26.4
watchfiles==0.24.0
websockets==13.1
zipp==3.20.1
